<?xml version="1.0" encoding="UTF-8"?>
 
<configuration status="debug">
 
    <Appenders>
        <!-- 콜솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>
    
    <loggers>
    
    	<!-- Application Loggers -->
		<logger name="org.zerock.controller">
			<level value="info" />
		</logger>
		
		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core">
			<level value="info" />
		</logger>
		
		<logger name="org.springframework.beans">
			<level value="info" />
		</logger>
		
		<logger name="org.springframework.context">
			<level value="info" />
		</logger>
	
		<logger name="org.springframework.web">
			<level value="info" />
		</logger>
		
		<!-- SQL Logger -->
		<logger name="jdbc.connection" additivity="false">
			<level value="warn" />
			<appender-ref ref="console"/> 
		</logger>
		
		<logger name="jdbc.audit" additivity="false"> 
			<level value="warn"/>  
			<appender-ref ref="console"/> 
		</logger> 
	    
		<logger name="jdbc.resultset" additivity="false">
			<level value="warn" />
			<appender-ref ref="console"/> 
		</logger>
		
		<logger name="jdbc.sqlonly" additivity="false"> 
			<level value="info"/> 
			<appender-ref ref="console"/> 
		</logger>
	     
		<logger name="jdbc.resultsettable" additivity="false"> 
			<level value="info"/>  
			<appender-ref ref="console"/> 
		</logger> 
		
		<logger name="jdbc.sqltiming" additivity="false">
			<level value="warn" />
			<appender-ref ref="console"/> 
		</logger>
	    		
        <root level="debug" additivity="true">
            <AppenderRef ref="console"/>
        </root>
    </loggers>
 
</configuration>
